<?xml version='1.0'?>
<model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config" xsi:schemaLocation="http://schemas.humanbrainproject.eu/SP10/2017/robot_model_config ../robot_model_configuration.xsd">
    <name>HBP Clearpath Robotics Husky A200</name>
    <version>1.0</version>
    <license>GPL</license>
    <sdf version="1.5">model.sdf</sdf>
    <thumbnail>thumbnail.png</thumbnail>
    <author>
        <name>J. Camilo Vasquez Tieck</name>
        <email>tieck@fzi.de</email>
        <name>Ryan Gariepy</name>
        <email>rgariepy@clearpathrobotics.com</email>
        <name>Oliver Zweigle</name>
        <email>zweigle@fzi</email>
    </author>

    <description>
        Model of a husky unmanned ground vehicle robot.
        More information: https://www.clearpathrobotics.com/husky-unmanned-ground-vehicle-robot/
    </description>

    <website>https://www.clearpathrobotics.com/husky-unmanned-ground-vehicle-robot/</website>
</model>
